
.edit-form {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.edit-form-img {
	max-width: 100%;
	max-height: 200px;
	border-radius: 8px;
	margin-bottom: 8px;
	align-self: center;
}

.edit-form-folder-select {
	margin: 12px 0;
}
